################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RappidMQ/bin/Debug/net8.0
/.vs
/RappidMQ/obj
